doctype html
html(lang= __('lang'))
    head
        title= __('title')

    body
        h1= __('node-i18n-x test page')
        h2 #{__('current locale:')} #{locale}

        h2= __('try these links:')
        ol
            li
                a(href="/") #{__('default lang')}
            li
                a(href="/?lang=en") #{__('manually set default lang')}
            li
                a(href="/?lang=ru") #{__('russian lang')}
            li
                a(href="/?lang=es") #{__('russian lang')}